{% extends 'base.html' %}


{% block content %}



<section class="hero">

  <div class="portfolio-heading">
    <h1 class="portfolio-title">
      < {{user.first_name}} <span>{{user.last_name}} ></span>
    </h1>
    {% if user.slug == request.user.slug %}
    <a href='{% url 'updateUser' %}' class="btn btn-warning">Update Profile</a>
    <a href='{% url 'followers' %}' class="btn btn-dark">My Followers</a>
    <a href='{% url 'following' %}' class="btn btn-danger">My Following</a>
    {% else %}

    {% if exists == False %}
    <a class='btn btn-success' href="{% url 'addFollowing' user.id %}">Follow @{{user.username}}</a>
    {% else %}
    <a class='btn btn-danger' href="{% url 'removeFollowing' user.id %}">Unfollow</a>
    {% endif %}



    {% endif %}


    <p class="portfolio-desc">{{user.userBio}}</p>

    <div class="social-links">

      {% if user.userFacebook %}
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100077979561015"><i
          class="social-btn  fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
      {% endif %}
      {% if user.userInsta %}
      <a target="_blank" href="https://www.instagram.com/zaidan.x/"><i class="social-btn  fa fa-instagram fa-2x"
          aria-hidden="true"></i></a>
      {% endif %}

    </div>


  </div>


  <img src="{{user.userDisplay.url}}" alt="userProfile">

</section>

{% endblock content %}